<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mensaje" value="Hola mundo desde app.config"/>
	</appSettings>

	<connectionStrings>
		<add name="TEST" connectionString="Application Name=PcpManagerHost;Data Source=PC-NAS,1433;Initial Catalog=TEST;User ID=sa;Password=Panuelo81;Persist Security Info=True;Max Pool Size=10;MultipleActiveResultSets=True;Connect Timeout=0;" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>