<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=PC-NAS,1433;Initial Catalog=CONFAB_EXPANDER_QA;User ID=sa;Password=Panuelo81;" />
	</connectionStrings>
	
	<appSettings>
		<add key="User" value="Pepe"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>